@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');

.dynalight-regular {
    font-family: "Dynalight", cursive;
    font-weight: 400;
    font-style: normal;
}

.contract .select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 0.15em dotted black !important;
}

.contract {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

.contract .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;

    background: #f8f8f8;
    width: 40em;
    height: 55em;
    padding: 5em 2em;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.contract .card_second {
    rotate: 2.5deg;
    z-index: -5;
}

.contract .card .center {
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}

.contract .card .buttons {
    display: flex;
    margin-inline: auto;
    font-weight: 700;
    gap: 1em;
    padding-block: 1em;
}

.contract .card .buttons > div {
    min-width: 9em;
    height: 2.5em;
    background: var(--submenu-background-selected);
    border-radius: 0.25em;
    line-height: 2.5;
    text-align: center;
    transition: 0.2s;
}

.contract .card .buttons > div:hover {
    background: var(--submenu-background-selected-hover);
}

.contract .card .buttons > div > span {
    color: white;
    font-size: 1em;
}

.contract .card .paragraph_1,
.contract .card .paragraph_2,
.contract .card .paragraph_3 {
    font-weight: 700;
    font-size: 1.45em;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 0.5em;
}

.contract .card .paragraph_text_1,
.contract .card .paragraph_text_2,
.contract .card .paragraph_text_3 {
    margin-bottom: 2em;
}

.contract .card .paragraph_text_3 > i {
    opacity: 0.75;
    margin-right: 0.2em;
}

.contract .card .signatures {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 3em;
    width: -webkit-fill-available;
    left: 0;
    margin-inline: 3em;
}

.contract .card .signatures .seller {
    width: 15em;
}

.contract .card .signatures .buyer {
    margin-top: auto;
    width: 15em;
    margin-left: auto;
}

.contract .card .signatures .dots {
    font-size: 2em;
    text-align: center;
    opacity: 0.25;
}

.contract .card input,
.contract .card select {
    width: 10em;
    border: 0;
    border-bottom: 0.15em dotted black;
    border-radius: 0;
    background: transparent;
}

.contract .card input:focus,
.contract .card select:focus {
    outline: none;
}

.contract .card span.required,
.contract .card input.required {
    border-color: red !important;
}

.contract .card .signature {
    font-family: "Dynalight", cursive;
    position: absolute;
    bottom: 0.5em;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    width: inherit;
    white-space: pre-line;
    transform: rotate3d(1, 1, 2, -8deg);
    letter-spacing: -0.03em;
    line-height: 0.8em;
}

.contract .card .signatures .signature-text {
    position: absolute;
    text-align: center;
    width: inherit;
    margin-top: 0.3em;
    font-weight: 600;
    font-size: 1em;
    opacity: 0.85;
}

.contract .card #date {
    width: fit-content;
    position: absolute;
    top: 1.8em;
    scale: 0.85;
}

.contract .card #date>div {
    font-weight: 600;
}

.contract .card #date>p {
    font-weight: 300;
    text-align: center;
    font-size: 0.8;
    font-style: italic;
    opacity: 0.75;
}

.contract .card #make_signature_seller,
.contract .card #make_signature_buyer {
    width: 15em;
    position: absolute;
    bottom: 0;
    height: 4em;
    opacity: 0.1;
    border-radius: 0.3em;
    background: var(--main-color);
    z-index: 3000;
}

.contract .paragraph_text_1 #select-player-refresh {
    display: inline-block;
    height: 1.7em;
    width: 1.7em;
    text-align: center;
    opacity: 0.8;
}

.contract .paragraph_text_1 #select-player-refresh:hover {
    opacity: 1.0;
}