.property_offer>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;

    width: 38em;
    height: 48em;
    background: var(--menu-background);
    color: white;
    border-radius: 0.9em;
    overflow: hidden;
    box-shadow: 0px 0px 4em #0d0d0d8c;
    animation: scaleIn 0.2s;

    transition: 0.2s height;
}

.property_offer>div::before,
.property_offer>div::after {
    content: "";
    position: absolute;
    width: 70rem;
    height: 50rem;
    border-radius: 50%;
    opacity: .1;
    z-index: 1;
    background: radial-gradient(var(--main-color) 10%, transparent 70%);
}

.property_offer>div::before {
    transform: translate(-50%, -50%);
    top: 0rem;
    left: 10em;
}

.property_offer>div::after {
    transform: translate(50%, 50%);
    bottom: 0rem;
    right: 10em;
}

.property_offer>div>.menu,
.property_offer>div>.theme_selection {
    position: relative;
    display: grid;
    grid-template-columns: 15em auto;
    column-gap: 1em;
    width: 100%;
    height: 100%;
    padding: 1em;
    z-index: 100;
}

.property_offer .menu .main {
    position: relative;
    height: 46em;
    width: 36em;
    padding: 1em;
    border-radius: 0.5em;
    background: var(--submenu-background);
}

.property_offer .menu .main > .title > .house-name {
    font-size: 1.8em;
    font-weight: 700;
}

.property_offer .menu .main > .title > .house-address {
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.1em;
}

.property_offer > div > .menu > .main > .apartments-actions {
    display: grid;
    gap: 1em;
}

.property_offer .menu .main > .apartments-list {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    max-height: 37.6em;
    width: 34em;
    overflow: overlay;
    margin-bottom: 1em;
}

.property_offer .menu .main > .apartments-list > div > .label {
    font-size: 1.2em;
    font-weight: 600;
}

.property_offer .menu .main > .apartments-list > div > .button {
    width: fit-content;
    float: right;
    padding: 2px 16px;
}


.property_offer .menu .main > .description {
    overflow: auto;
    overflow-wrap: break-word;
}

.property_offer .menu .main > .description > span {
    color: var(--primary-text-color);
    font-weight: 300;
    font-size: 1.05em;
    letter-spacing: 0.4px;
    opacity: 0.75;
    height: 9em;
    overflow: overlay;
    display: block;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 85%, rgba(0,0,0,0));
    padding-bottom: 0.8em;
    white-space: pre-line
}

.property_offer .menu .main > .informations {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    max-height: 22em;
    overflow: overlay;
    overflow-x: hidden;
}

.property_offer > div > .menu > .main > .apartments-actions > div,
.property_offer .menu .main > .apartments-list > div,
.property_offer .menu .main > .informations > div {
    background: var(--submenu-background-selected);
    border: 1px solid #ffffff12;
    border-radius: 0.4em;
    padding: 0.5em 0.9em;
    transition: 0.2s;
}

.property_offer > div > .menu > .main > .apartments-actions > div:hover {
    background: var(--submenu-background-selected-hover);
}

.property_offer > div > .menu > .main > .apartments-actions > div > div,
.property_offer .menu .main > .informations > div > div {
    font-weight: 600;
    font-size: 1.2em;
    opacity: 0.5;
}

.property_offer > div > .menu > .main > .apartments-actions > div > span,
.property_offer .menu .main > .informations > div > span {
    font-weight: 600;
    font-size: 1.15em;
}

.property_offer .menu .main > .buttons {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    height: 3em;
    width: 34em;
    line-height: 3;
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
}

.property_offer .menu .main > .informations > .house-electricity-bill > span > span,
.property_offer .menu .main > .informations > .house-water-bill > span > span {
    font-size: 0.6em;
}

.property_offer .theme_selection .main > div > .buttons > #back,
.property_offer .menu .main > .buttons > .change_theme,
.property_offer .menu .main > .buttons > .view {
    background: var(--back-btn-color);
    font-weight: 500;
    border-radius: 0.3em;
    transition: 0.2s;
    cursor: pointer;
}

.property_offer .theme_selection .main > div > .buttons > #back:hover,
.property_offer .menu .main > .buttons > .change_theme:hover,
.property_offer .menu .main > .buttons > .view:hover {
    background: var(--back-btn-color-hover);
}

.property_offer .theme_selection .main > div > .buttons > #select-ipl-theme,
.property_offer .menu .main > .buttons > .finalize,
.property_offer .menu .main > .apartments-list > div > .button {
    background: var(--main-color);
    font-weight: 500;
    border-radius: 0.3em;
    transition: 0.2s;
    cursor: pointer;
}

.property_offer .theme_selection .main > div > .buttons > #select-ipl-theme:hover,
.property_offer .menu .main > .buttons > .finalize:hover,
.property_offer .menu .main > .apartments-list > div > .button:hover {
    background: var(--main-color-hover);
}

.property_offer .menu .main > .buttons > .finalize:active,
.property_offer .menu .main > .apartments-list > div > .button:active {
    background: var(--main-color-active);
}









.property_offer .theme_selection .main {
    position: relative;
    height: 25em;
    width: 36em;
    padding: 1em;
    border-radius: 0.5em;
    background: var(--submenu-background);
}

.property_offer .theme_selection .main > div > .buttons {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    
    text-align: center;
    height: 3em;
    line-height: 3;
    position: absolute;
    bottom: 1em;
    width: 34em;
}