.safe {
    display: none;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: margin 0.4s;
}

.safe > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    width: 28em;
    height: 48em;
    background: #0e0e0efa;
    color: white;
    border-radius: 0.9em;
    overflow: hidden;
    box-shadow: 0px 0px 4em #0d0d0d8c;
    animation: scaleIn 0.2s;
}

.safe > div > .safe-actions {
    z-index: 3000;
    text-align: center;
    padding-inline: 3em;
    height: 2.5em;
    margin-top: 0.5em;
}

.safe > div > .safe-actions > div {
    width: 100%;
    height: 100%;
    line-height: 2.4;
    font-weight: 600;
    background: rgba(197, 197, 197, 0.12);
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.07);
    border-image: initial;
    border-radius: 0.25em;
    opacity: 0.3;
    transition: 0.2s;
}

.safe > div > .safe-actions > div:hover {
    background: rgba(197, 197, 197, 0.25);
    opacity: 1.0;
}

.safe > div > .safe-actions > div:active {
    background: rgba(197, 197, 197, 0.35);
}

.safe > div > .alert {
    text-align: center;
    font-weight: 700;
    margin-top: 1.5em;
    padding-inline: 3em;
}

.safe > div > .alert > div {
    background: #d5d5d517;
    border: 2px solid #ffffff0f;
    border-radius: 0.8em;
    color: #e6e6e6;
    height: 5.8em;
}

.safe > div > .alert > div > p {
    margin: 0;
    line-height: 3;
    font-size: 1.8em;
    text-transform: uppercase;
}


.safe > div > .alert > div > p.success {
    color: #63ff44;
}

.safe > div > .alert > div > p.warning {
    color: #ffc744;
}

.safe > div > .alert > div > p.error {
    color: #ff4444;
}

.safe > div > .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 2em;
    padding: 3em;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.safe > div > .buttons > div {
    background: rgba(197, 197, 197, 0.122);
    border: 2px solid #ffffff12;
    height: 2.2em;
    border-radius: 0.25em;
    line-height: 2.2;
    font-size: 2.5em;
    font-weight: 700;
}

.safe > div > .buttons > div:hover {
    background: rgba(197, 197, 197, 0.25);
    opacity: 1.0;
}

.safe > div > .buttons > div :active {
    background: rgba(197, 197, 197, 0.35);
}